.link {
  text-decoration: none;
}
.icon2 {
  color: #475569;
  font-size: 26px;
  margin-right: 30px;
}
.youtube-div {
  background-color: #f8fafc;
  /* height: 100vh; */
  width: 84vw;
  padding: 20px;
}
.options-div3 {
  background-color: #ffffff;
  /* width: 14vw; */
}
.icon3 {
  margin-right: 10px;
}
.banner-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.clicked-item {
  color: red;
}
